@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

#root {
  min-height: 100vh;
  background: var(--Dark-Blue, #10141e);
}
body {
  background: var(--Dark-Blue, #10141e);
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #1a1f2c;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* For Firefox */
.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #1a1f2c transparent;
}
